html, body {
    width:100%;
    height:100%;
    background-color:#222;
    text-align:center;
    overflow:hidden;
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* style for the visualization container */
#infovis {
    position:relative;
    width: 640px;
    height: 480px;
    margin:auto;
    background-color:#1D1D20;
}

#infovis div {
    position:absolute;
    overflow:hidden;
}

#infovis .content {
    background-color:#333;
    border:0px solid #111;
}

#infovis .head {
    height:12px;
    color:white;
    background-color:#444;
}

#infovis .head.in-path {
    background-color:#655;
}

#infovis .body {
    background-color:black;
}

#infovis .leaf {
    color:white;
    background-color:#111;
    display:table-cell;
    vertical-align:middle;
}

#infovis .over-leaf {
    border:1px solid #9FD4FF;
}

#infovis .over-content {
    background-color: #9FD4FF;
}

#infovis .over-head { /* ...boy i'm funny */
    background-color:#A4D9FF;
    color:black;
}

/* tooltips style */
.tip {
    color: #fff;
    z-index: 13000;
    background-color: black;
    padding:5px;
    position:absolute;
}

#header {
  color: white;
  font-size:20px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px 0 5px 0;
}

#header a {
  color: white;
}

#footer {
  color: white;
}

#footer a {
  color: white;
}

#legend {
  color: white;
  float: left;
  
}
