<html>
    <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}proracun2010.css" />

    <script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.4.2.js"></script>    
    <script type="text/javascript" src="{{ MEDIA_URL }}jit-2.0.1.js" ></script>
    <script type="text/javascript" src="{{ js_vizualizacija_url }}" ></script>
    
    <title>Vizualizacija proračuna Republike Slovenije za leto {{ leto }}: {{ po }}</title>
    
    <meta name="title" content="Vizualizacija proračuna Republike Slovenije za leto {{ leto }}: {{ po }}" />
    <meta name="description" content="Kam gre naš denar? " />
    <link rel="image_src" href="prihodki.png" / >
    
    
    <script type="text/javascript">
      $(document).ready(function() {
        var x = $(document).width()-30+'px';
        var y = $(document).height()-100+'px';
        $("#infovis").css('width', x);
        $("#infovis").css('height', y);
        init();
      });
    
    </script>
    </head>

    <body>
      <div>
             <div id="header"><div id="title">Proračun Republike Slovenije skozi čas</div>
{% if po == 'odhodki' %}<a href="{% url proracun_areachart 'prihodki' inflacija %}">prihodki</a>{% else %}prihodki{% endif %} | 
{% if po == 'prihodki' %}<a href="{% url proracun_areachart 'odhodki' inflacija %}">odhodki</a>{% else %}odhodki{% endif %}</div>
      <div>
             <div id="infovis" />
      </div>
             <div id="footer">Legenda: barve nimajo posebnega pomena | Levi klik na porabnika poveča pogled, desni klik pomanjša <br />
    </body>
</html>
